<%= link_to "Вакансии", job_lists_path %> | <%= link_to "Работники", occupants_path %>

<h1>Список работников</h1>

<table>
  <tr>
    <th>Имя</th>
    <th>Контактная информация</th>
    <th>Статус</th>
    <th>Желаемая зарплата</th>
    <th></th>
    <th></th>
<!--    <th></th> -->
  </tr>

<% @occupants.each do |occupant| %>
  <tr>
    <td><%= occupant.namae %></td>
    <td><%= occupant.contacts %></td>
    <td><%= occupant.status == 1 ? 'В поиске':'' %></td>
    <td align = "right"><%= occupant.salary %></td>
    <td><%= link_to 'Подробнее', occupant %></td>
    <td><%= link_to 'Редактировать, добавить умения', edit_occupant_path(occupant) %></td>
<!--    <td><%= link_to 'Удалить', occupant, confirm: 'Вы уверены?', method: :delete %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить работника', new_occupant_path %>
