<%= link_to "Вакансии", job_lists_path %> | <%= link_to "Работники", occupants_path %>

<h1>Список вакансий</h1>

<table>
  <tr>
    <th>Название</th>
    <th>Дата добавления</th>
    <th>Срок действия, до</th>
    <th>Зарплата</th>
    <th>Контактная информация</th>
    <th></th>
    <th></th>
<!--    <th></th> -->
  </tr>

<% @job_lists.each do |job_list| %>
  <tr>
    <td><%= job_list.title %></td>
    <td><%= job_list.add %></td>
    <td><%= job_list.expire %></td>
    <td><%= job_list.salary %></td>
    <td><%= job_list.contacts %></td>
    <td><%= link_to 'Подробнее, просмотреть список кандидатов', job_list %></td>
    <td><%= link_to 'Редактировать, добавить умения', edit_job_list_path(job_list) %></td>
<!--    <td><%= link_to 'Destroy', job_list, confirm: 'Are you sure?', method: :delete %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить вакансию', new_job_list_path %>
