<p id="notice"><%= notice %></p>

<h2>Описание вакансии</h2>

<p>
  <b>Название:</b>
  <%= @job_list.title %>
</p>

<p>
  <b>Дата добавления:</b>
  <%= @job_list.add %>
</p>

<p>
  <b>Срок действия:</b>
  <%= @job_list.expire %>
</p>

<p>
  <b>Зарплата:</b>
  <%= @job_list.salary %>
</p>

<p>
  <b>Контактная информация:</b>
  <%= @job_list.contacts %>
</p>

<b>Умения:</b> <%= join_jskills(@job_list) %><br /><br />


<h2>Полностью походящие работники</h2>

<% @occupants = @fully_compatible_occupants %>
<%= render 'occupant_list' %>

<h2>Частично походящие работники</h2>
<% @occupants = @partially_compatible_occupants %>
<%= render 'occupant_list' %>


<%= link_to 'Редактировать', edit_job_list_path(@job_list) %> |
<%= link_to 'К списку вакансий', job_lists_path %>
